<!--Template pour aider au password-->
  <div class="absolute top-100 left-0 shadow-1 p-2 z-1 bg-white">
    <p class="mt-2 text-sm font-bold">Contraintes</p>
    <p-divider class="p-2"></p-divider>
    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
        <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 caractère en miniscule</li>
        <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 caractère en majiscule </li>
        <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Au moins 1 chiffre</li>
        <li class="text-sm"><i class="pi pi-caret-right" style="font-size: 1rem; color: var(--first_color)"></i>Minimum 8 caractères</li>
    </ul>
  </div>

