<nav>
  <!--Nav horizontale-->
  <div>
    <ng-container *ngIf="(userEmail$ | async) as user; else elseBlock">
      <li class="right">
        <button type="button" (click)="displayLogoutOverlay()">{{ properties.navbarLogoutButton }}</button>
      </li>
    </ng-container>
    <ng-template #elseBlock>
      <li class="right" routerLinkActive="active">
        <a class="link" [routerLink]=loginLink>
          <i class="pi pi-user"></i>
          {{ properties.navbarLoginButton }}
        </a>
      </li>
    </ng-template>
  </div>
  <!--Nav vertical-->
</nav>

<!--Demande confirmation de sortie-->
<ng-container *ngIf="isLogoutVisible">
  <div>
    <p>{{ properties.navbarLogoutQuestion }}</p>
    <div>
      <button (click)="logout()" type="button">{{properties.navbarConfirmLogout}}</button>
      <button (click)="displayLogoutOverlay()" type="button">{{properties.navbarStayButton}}</button>
    </div>
  </div>
</ng-container>
