<div [formGroup]="fg">
  <!--Nouveau mot de passe-->
  <div>
    <label for="password">{{properties.updatePassword}}</label>
    <div class="relative">
      <p-password
          [appShowOnFocus]="passwordTemplate"
          id="password"
          aria-describedby="password-help"
          [feedback]="false"
          [toggleMask]="true"
          formControlName="password">
          <!--Aide à la saisie du mot de passe-->
          <ng-template #passwordTemplate>
            <app-password-helper></app-password-helper>
          </ng-template>
      </p-password>
    </div>
    <!--Message erreur-->
    <div *ngIf="fg.get('password')?.touched && fg.get('password')?.errors?.['required']">
      <p-message class="p-message" severity="error" [text]="properties.updatePasswordMissing" ></p-message>
      <p-message class="p-message" severity="error" [text]="properties.updatePasswordFormatError" ></p-message>
    </div>
  </div>
  <!--Confirmation mot de passe-->
  <div>
    <label for="confirmPassword">{{properties.updateConfirmPassword}}</label>
    <input id="confirmPassword" formControlName="confirmPassword"  type="password">
    <!--Message erreur-->
    <div *ngIf="fg.get('confirmPassword')?.touched && fg.get('confirmPassword')?.errors?.['required']">
      <p-message class="p-message" severity="error" [text]="properties.updateConfirmPasswordMissing" ></p-message>
      <p-message class="p-message" severity="error" [text]="properties.updateConfirmPasswordErrorNotEqual" ></p-message>
    </div>
  </div>
</div>
