<div>
  <div>
    <div>
      <h2>{{properties.registerTitle}}</h2>
    </div>
    <section>
      <form [formGroup]="registerFG" (submit)="register()">
        <!-- Données de base pour s'enregistrer -->
        <app-register [properties]=properties [fg]="registerFG"></app-register>

         <!--captcha-->
         <app-captcha [fg]="registerFG"></app-captcha>
         <div>
          <input [disabled]="" type="submit" [value]="properties.registerButton">
        </div>
      </form>
    </section>
  </div>
</div>
